<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{{icon_url}}" type="image/x-icon">  
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="renderer" content="webkit"> 
  <title>{{title_name}}</title>
  <link rel="stylesheet" href="/static/css/regist.css">
  <link href="/static/css/theme-chalk.css" rel="stylesheet">
  <!-- <link href="https://cdn.bootcss.com/element-ui/2.0.7/theme-chalk/index.css" rel="stylesheet"> -->
</head>
<body>
  <div class="header-container">
    <div class="header">
      <img id="logo" class="logo" alt="logo"/>
      <div class="utils">
        <button class="empty" onclick="history.go(0)">注册</button>
        <button class="special" onclick="location.href='/login'">登录</button>
      </div>
    </div>
  </div>

  <div id="app"></div>
  <script id="regist" type="text/x-template">
    <div class="regist-container">
      <div class="regist">
        <span>新用户注册</span>
        <div class="input-container"><input v-model="userInfo.phone" placeholder="手机号" autofocus /><span>*</span></div>
        <div class="input-container">
          <input v-model="userInfo.sms_code" placeholder="验证码" />
          <button class="check-button"
            @click="getCertificationCode" v-text="checkStr"></button>
          <span>*</span>
        </div>
        <div class="input-container"><input v-model="userInfo.password" placeholder="密码" type="password" /><span>*</span></div>
        <div class="input-container"><input v-model="userInfo.real_name" placeholder="用户姓名" /><span>*</span></div>
        <div class="input-container"><input v-model="userInfo.company" placeholder="公司名称" /><span>*</span></div>
        <div class="input-container">
          <el-cascader
            placeholder="选择城市"
            :options="options"
            change-on-select
            @change="handleAreaClick"
            :props="areaProps"/>
          <span>*</span>
        </div>
        <div class="types">
          <button :type="type"
            v-for="type in types" :key="type"
            :class="typeClass(type)"
            @click="userInfo.company_type=type" v-text="type"></button>
          <!-- <span>*</span> -->
        </div>
        <label>
          <input type="checkbox" v-model="checked" />
          <!-- 小麦汽配™ -->
          我已阅读并同意<span class="delegate" @click="showDelegate">《注册协议》</span>
          <div class="show-box" />
        </label>
        <button @click="regist">注册<img id="little-mum" src="https://007vin.com/img/load.gif" /></button>
        <div class="login-container">已有账号？<a href="/login">点击登录</a></div>
      </div>
      <Delegate v-if="delegateShow" @close="delegateShow=false" @readed="checked=true" />
    </div>
  </script>
  <script id="delegate" type="text/x-template">
    <div class="delegate-container">
      <div class="delegate">
        <h3 class="d-title">《小麦汽配™注册协议》</h3>
        <p>
            本协议是您与小麦汽配™交易平台（以下简称为“小麦汽配”）所有者上海合牛信息科技有限公司（以下简称为“合牛”）之间就小麦汽配产品服务等相关事宜所订立的契约，请您仔细阅读本注册协议，您点击“同意”按钮后，本协议即构成对双方有约束力的法律文件。
            
            一、服务内容
            1.1小麦汽配的具体服务内容由我们根据实际情况提供，包括但不限于内嵌服务工具使用， 配件数据查询，配件价格查询，以及关联的图片、商户信息等，我们将定期或不定期根据用户的意愿为用户提供活动信息，并向用户提供学习、交流平台（以上统称“服务”）。我们对提供的服务拥有最终解释权。
            1.2 小麦汽配服务仅供和小麦汽配合作或注册用户使用。除我们书面同意，您或其他用户均不得将小麦汽配上的任何信息用于商业目的。
            1.3您使用小麦汽配服务时所需的相关的设备以及网络资源等（如个人电脑及其他与 接入互联网或移动网有关的装置）及所需的费用（如为接入互联网而支付的电话费 及上网费）均由您自行负担。
            
            二、信息提供和隐私保护
            2.1 您在访问、使用小麦汽配或申请使用小麦汽配服务时，且您应该根据实际变动情况及时更新账户信息。保护用户隐私是我们的重点原则，我们通过各种技术手段和强化内部管理等办法提供隐私保护服务功能，充分保护您的个人信息安全
            2.2 小麦汽配不负责审核您提供的个人信息的真实性、准确性或完整性，因信息不真实、不准确或不完整而引起的任何问题及其后果，由您自行承担，且您应保证小麦汽配免受由此而产生的任何损害或责任。若我们发现您提供的个人信息是虚假、不准确或不完整的，我们有权自行决定终止向您提供服务。
            2.3 您理解，为申请获得小麦汽配服务，您应向我们提供您的个人信息，为向您提供服务之目的，我们须向第三方透露您的个人信息。您特此向我们授权，为提供服务之目的，我们有权使用您的个人信息、您申请服务时提供相关信息和您在使用服务时储存在小麦汽配的非公开内容（以下简称“个人资料”）。 
            我们保证在除为提供服务之目的外，不对外公开或向第三方提供您的个人资料， 但下列情况除外：
                (1) 事先获得您的明确授权；
                (2) 按照相关司法机构或政府主管部门的要求；
                (3) 以维护小麦汽配合法权益之目的；
                (4) 维护社会公众利益；
                (5) 为了配合政府或法律的合法要求、传票或指令，为了保护小麦汽配的系统和用户， 或者为了确保小麦汽配业务和系统的完整与操作，我们可获取和披露其认为必要或 恰当的任何信息，包括但不限于用户的个人信息、IP地址和流量信息、使用历史以及发 布内容。
                (6)符合其他合法要求。
            
            三、用户规范
            3.1 您在使用小麦汽配服务过程中，必须遵循国家的相关法律法规，不通过小麦汽配 发布、复制、上传、散播、分发、存储、创建或以其它方式公开含有以下内容的信息：
            （1）禁止发布发表损害国家、民族、社会公共利益和涉及国家安全的信息资料或言论；
            （2）禁止利用平台从事洗钱、窃取商业秘密、窃取用户信息等违法犯罪活动；
            （3）禁止干扰平台的正常运转，不得侵入平台信息系统；
            （4）禁止发表任何违法犯罪、淫秽、不文明等信息资料；
            （5）禁止传输或发表损害国家社会公共利益和涉及国家安全的信息资料或言论；
            （6）禁止利用在平台注册的账户进行非法牟利性经营活动；
            （7）禁止发布任何侵犯他人著作权、商标权等知识产权或合法权利的内容；
            （8）禁止对小麦汽配进行反向工程、反向汇编、反向编译，或者以其他方式通过非甲方明示允许的方式登录、进入小麦汽配；
            （9）禁止对小麦汽配的账户进行出租、出借、出售、建立小麦汽配镜像站点等；
            （10）禁止对小麦汽配的信息、数据进行复制、修改、增加、删除，制作与小麦汽配服务相竞争的平台作品或衍生作品；
            （11）禁止自行、授权他人或利用第三方软件对小麦汽配的服务进行干扰；
            （12）禁止进行任何超出小麦汽配提供服务的行为；
            （13）其他未经小麦汽配明示授权、许可或违反本协议及相关协议、规则的行为。
            
            四、 交易
            4.1.商品描述：
            
            （1）“货真价实”：保证小麦汽配上的供应商会员（以下简称”供应商”）确保平台上的所有商品均符合国家关于商品质量和知识产权方面的有关法律法规，保证按平台零件分类标准，对上架零件按分类明码标价。
            （2）“假一赔十”处理：如出现违规商品，经双方认可或第三方技术鉴定机构鉴定有仿冒、伪造正规品牌商标、标志以及特有的名称、包装等情况。供应商在收到“违规处理书”5天内按订单上商品单价的十倍赔偿给用户。如供应商逾期不做赔偿，小麦汽配将对供应商发出相应的“整改通知”，整改期内，暂停供应商销售权。
            4.2.商品价格：
            小麦汽配上所有商品以人民币为计价单位，价格内默认不包含运费、保险费和包装费，如有包邮服务，会另作标志。目前小麦汽配配送政策以小麦汽配公布为准。
            4.3.商品支付：
            （1）订单：
            1.用户在小麦汽配购买商品时，须仔细确认所购商品的名称、价格、数量、型号、规格、尺寸等信息。因小麦汽配所提供的商品和价格等信息仅仅是要约邀请，用户下单时须选择用户希望购买的商品数量、品质要求，颜色、型号、价款及支付方式以及填写收货人姓名、联系方式、收货地址等内容。
            2.小麦汽配收到用户的订单信息后，将订单中的商品从仓库实际向用户发出时，方视为用户与小麦汽配之间就实际发出的商品建立了合同关系。
            3.由于询价单与生成订单之间的时间差，并供应商在此期间将相应商品售出，无法发货，用户可及时取消该供应商相应商品的交易，购买其他供应商的商品。
            4.用户了解并同意：如用户购买商品，发生缺货，用户有权取消订单。
            5.	用户了解并同意：若发生不可抗力或其他正当合理理由导致发货及物流延迟的，用户将予以理解。
            （2）结算：
            1.现结支付：用户通过小麦汽配采取现结支付交易的，货款将支付至与小麦汽配合作的第三方支付工具账户中或小麦汽配指定账户中。
            （3）开票：
            用户通过小麦汽配进行交易的商品，发票均由供应商直接开给用户。小麦汽配不承担发票开立义务。
            4.商品售后：
            小麦汽配要求平台所有供应商，保证按照国家相关规定、商品自带售后服务承诺及相关要求，提供商品“修理、更换、退货”等服务，同时保证按照相关规定进行履行；供应商可根据商品属性、商品品类、客户所在区域、以及自身的经营战略等，对商品提供不同的服务承诺，包括物流运输、售后保障和技术支持等；
            （2）商品验收：
            为保障后续的各方利益，当商品送至收货地点时，买家应在配送人员在场情况下，对商品进行现场验收。如商品存在损坏或质量问题，及时向小麦汽配和供应商反馈，小麦汽配会第一时间介入跟进。
            1.核验商品的内外包装是否完整、是否损坏；如发现损坏，请保留相应证据照片、视频等，并请配送人员签字备注，并向小麦汽配或供应商反馈；
            2.核验相应的配送标签、商品销售单/或者出库单，是否与所购买商品一致；如不一致，请保留相应证据如照片、视频等，并请配送人员签字备注，并现场与供应商联络进行核对；如已经签收，发现商品数量差错，请在24小时内与小麦汽配或供应商反馈；
            3.核验商品外观、型号、品质，是否符合相应的要求；如不一致，请保留相应证据如照片、视频等，保留原内外包装，并请配送人员签字备注，同时向小麦汽配或供应商反馈；
            4.用户发现商品包装、型号、品质的异常，请尽快与小麦汽配或供应商反馈，切记不要进行强行安装、自行修复等处理操作，以避免无法确定责任，所造成的损失由用户自行负责。
            （3）有关运费：
            1.售后服务中，所产生的运费秉承“谁的责任谁承担运费”的原则进行相应处理。由供应商原因产生的错发、漏发、质量问题，供应商承担用户寄回和补发货的运费；由用户原因产生的错发、换货的运费，用户承担用户寄回和供应商补发的运费。
            2.包邮商品，由供应商发往用户指定地点所产生的运费/保费，由供应商自行承担；发生退货等售后行为后，供应商不得要求用户退还相关的费用。
            （4）争议处理原则：
              在交易过程中发生争议，买卖双方均可申请平台介入处理，小麦汽配将在24小时之内介入处理；小麦汽配作为第三方，将本着公平公正公开的原则，通过审查双方提交的证据、现场技术检测、第三方鉴定等形式，做出相应的判断；双方自行对证据的真实性、完整性、准确性和及时性负责，并承担举证不能的后果。
            1.小麦汽配有权要求双方提供相应的证据，包括但不限于照片、视频、以及相应文档等材料。
            2.用户收到的商品存在质量问题/系假冒商品，且通过肉眼无法做出判断的，供应商应按照小麦汽配的要求提供厂家的经销凭证、产品合格证、商业发票等证明文件。
            3.针对商品质量问题无法达成一致，由平台委托第三方机构（包括4S店及有主机厂背书或技术实力的维修企业等）进行质量鉴定，并出具标准格式并签名盖章的检测文稿。
            4.有争议的零配件送检后，如鉴定合格，鉴定费用由买方承担；如鉴定不合格，鉴定费用由卖方承担，并承担相应退换货责任；因商品在检测过程中产生的损坏责任承担原则，与检测费用的责任承担相同；非应平台要求，用户自行检测的，检测费用由用户承担。
            5.举证期限，如平台要求提供相应证据材料的，请在3个工作日内提供相关材料；逾期未能提供有效材料的，作为申诉方的相应申诉终止、被诉方的做败诉处理。
            6.争议处理完成之后，买卖双方须严格、及时履行相应的处理结果；如约定的时间内没有履行相应的责任和业务的，须承担相应的损失。
            
            五、 协议终止
            1.协议终止情况：
            （1）注册信息中的主要内容不真实或不准确或不及时或不完整时；
            （2）用户主动向小麦汽配要求注销用户的账户，经小麦汽配审核同意后注销用户的账户；
            （3）用户违反本协议的规定或违反相关法律、法规的。
            2.协议终止后相关事宜：
            （1）用户的账户被注销后，小麦汽配没有义务为用户保留或向用户披露用户账户中的任何信息，也没有义务向用户或第三方转发任何用户未曾阅读或发送过的信息。
            （2）小麦汽配有权继续保存用户的注册信息及用户使用小麦汽配服务期间的所有交易信息。
            （3）用户在使用小麦汽配服务期间存在违法行为或违反本协议和/或规则的行为，平台仍可依据本协议向用户主张权利。
            
            六、 知识产权
            （1）用户一旦接受本协议，即表明用户主动将其在任何时间段在小麦汽配发表的任何形式的信息内容的财产性权利等任何可转让的权利，如著作权财产权（包括并不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可转让权利），全部独家且不可撤销地转让给小麦汽配所有，用户同意小麦汽配有权就任何主体侵权而单独提起诉讼。
            （2）本协议已经构成《中华人民共和国著作权法》第二十五条及相关法律规定的著作财产权等权利转让书面协议，其效力及于用户在平台上发布的任何受著作权法保护的作品内容，无论该等内容形成于本协议订立前还是本协议订立后。
            （3）除法律另有强制性规定外，未经小麦汽配明确的特别书面许可，任何单位或个人不得以任何方式非法地全部或部分复制、转载、引用、链接、抓取或以其他方式使用小麦汽配的信息内容，否则，小麦汽配有权追究其法律责任。
            （4）小麦汽配所刊登的资料信息（诸如文字、图表、标识、按钮图标、图像、声音文件片段、数字下载、数据编辑和软件），均是合牛的财产，受中国和国际版权法的保护。小麦汽配上所有内容的汇编是合牛的排他财产，受中国和国际版权法的保护。小麦汽配上所有软件都是合牛或其关联公司或其软件供货商的财产，受中国和国际版权法的保护。
            （5）合牛是小麦汽配的制作者，拥有此网站内容及资源的著作权等合法权利，受国家法律保护，有权不时地对本协议及平台的内容进行修改，并在平台张贴，无须另行通知用户。在法律允许的最大限度范围内对本协议及平台内容拥有解释权。
            
            七、 免责声明
              合牛有义务确保小麦汽配的正常运行，尽力避免服务中断或将中断时间限制在最短时间内，保证用户在平台交易活动的顺利进行。但以下情况无需承担任何责任：
            （1）用户将账号密码告知他人或与他人共享注册账户，由此导致任何资料的泄露。
            （2）黑客攻击、计算机病毒侵入、政府管理等不可抗力造成本平台崩溃或无法正常使用，从而导致交易无法完成或信息、记录丢失。
            （3）用户向小麦汽配提供错误、不完整、不实信息等造成不能正常使用平台服务或遭受任何其他损失。
            
            八、 法律适用、管辖与其他
            （1）本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国大陆地区法律，如无相关法律规定的，则应参照通用国际商业惯例和（或）行业惯例。
            （2）本协议包含了用户使用小麦汽配需遵守的一般性规范，用户在使用平台时还需遵守适用于该平台的特殊性规范。一般性规范如与特殊性规范不一致或有冲突，则特殊性规范具有优先效力。
            （3）如用户对本协议或其执行内容有任何异议，双方应尽力友好协商解决，协商不成时，任何一方均可向被告住所地人民法院提起诉讼。
        </p>
        <div class="d-close" @click="close"></div>
        <button class="d-check" @click="readed">已阅读并同意协议</button>
      </div>
    </div>
  </script>
  <div class="bottom">
    <!-- <span class="about">关于我们</span> -->
    <span class="cer">© 2018 xiaomai.com</span>
    <a class="cer" href="http://www.miitbeian.gov.cn/">浙ICP备：17026959号-3</a>
  </div>  
  <!-- <script defer src="https://cdn.bootcss.com/vue/2.5.3/vue.js"></script> -->
  <script src="/static/js/polyfill.min.js"></script>
  <script src="/static/js/axios.min.js"></script>
  <script>
    var logo = document.getElementById('logo')
    axios.get('/system/community/theme')
      .then(res => {
        logo.src = res.data.data.standby
      })
      .catch(err => {
        alert(err)
      })
  </script>
  <script defer src="/static/js/vue.min.js"></script>
  <script defer src="/static/js/element-ui.js"></script>
  <script defer defer src="/static/js/regist.js"></script>
</body>
</html>