html {
  height: 100%;
}
html body {
  justify-content: space-between;
  width: 100%;
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html body input {
  padding: 0 0 0 8px;
}
html body button {
  cursor: pointer;
}
.header-container {
  display: flex;
  justify-content: center;
  height: 44px;
  width: 100%;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}
.header-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1024px;
  height: 100%;
}
.header-container .header .logo {
  width: auto;
  height: 30px;
}
.header-container .header .utils button {
  width: 80px;
  height: 32px;
  border-radius: 16px;
  color: #ec6337;
  border: 1px solid #ec6337;
  background: transparent;
  outline: none;
}
.header-container .header .utils .empty {
  border: 0;
}
.regist-button {
  width: 60px;
  height: 32px;
  border: 1px solid #ec6337;
  border-radius: 4px;
  outline: none;
  color: #ec6337;
  background-color: white;
}
.regist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1024px;
}
.regist {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.regist > * {
  margin-top: 10px;
  border-radius: 4px;
}
.regist > span {
  color: #ec6337;
}
.regist .normalSize {
  width: 340px;
  height: 40px;
  border: 1px solid #d8d8d8;
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
}
.regist .mark {
  position: absolute;
  right: -14px;
  top: 10px;
  margin-left: 8px;
  color: #ec6337;
}
.regist > button {
  width: 340px;
  height: 40px;
  border: 1px solid #d8d8d8;
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
}
.regist .input-container {
  position: relative;
  width: 340px;
}
.regist .input-container input {
  width: 340px;
  height: 40px;
  border: 1px solid #d8d8d8;
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  color: #333;
  padding-left: 8px;
}
.regist .input-container ::-moz-placeholder {
  color: #999;
}
.regist .input-container ::-webkit-input-placeholder {
  color: #999;
}
.regist .input-container .check-button {
  width: 340px;
  height: 40px;
  border: 1px solid #d8d8d8;
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
  position: absolute;
  right: 0;
  top: 0;
  width: 98px;
  color: #ec6337;
  border: 0;
  background: transparent;
}
.regist .input-container > span:not(.el-cascader) {
  position: absolute;
  right: -14px;
  top: 10px;
  margin-left: 8px;
  color: #ec6337;
}
.regist .types {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 340px;
}
.regist .types .type {
  width: 340px;
  height: 40px;
  border: 1px solid #d8d8d8;
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
  width: 80px;
  background: transparent;
}
.regist .types .type-selected {
  width: 340px;
  height: 40px;
  border: 1px solid #d8d8d8;
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
  width: 80px;
  background: transparent;
  border: 1px solid #ec6337;
}
.regist .types span {
  position: absolute;
  right: -14px;
  top: 10px;
  margin-left: 8px;
  color: #ec6337;
}
.regist label {
  position: relative;
  width: 340px;
  font-size: 12px;
  color: #333;
}
.regist label input {
  cursor: pointer;
}
.regist label input:checked + span + .show-box {
  background: #ec6337;
}
.regist label .show-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  background: white;
  cursor: pointer;
}
.regist label .show-box:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 6px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.regist label .delegate {
  color: #ec6337;
  cursor: pointer;
}
.regist .login-container {
  font-size: 14px;
}
.regist .login-container a {
  color: #ec6337;
  text-decoration: none;
}
.regist > button {
  color: white;
  background-color: #ec6337;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.regist #little-mum {
  display: none;
  width: 20px;
  height: 20px;
}
.company,
.group {
  width: 1024px;
  height: auto;
}
.company {
  margin: 40px 0;
}
.bottom {
  display: flex;
  align-items: center;
  width: 100%;
  height: 72px;
  box-sizing: border-box;
  padding: 0 calc(50% - 512px);
  background-color: #333;
}
.bottom .about {
  font-size: 14px;
  color: white;
  margin-left: 20px;
  cursor: not-allowed;
}
.bottom .cer {
  margin-top: 6px;
  font-size: 12px;
  color: #d8d8d8;
  margin-left: 20px;
}
.delegate-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delegate-container .delegate {
  position: relative;
  width: 944px;
  height: 400px;
  background: white;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12), 0 24px 24px 0 rgba(0, 0, 0, 0.24);
  border-radius: 4px;
}
.delegate-container .d-title {
  width: 100%;
  text-align: center;
}
.delegate-container p {
  height: 280px;
  font-size: 12px;
  white-space: pre-wrap;
  overflow-y: scroll;
}
.delegate-container .d-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background: url(/static/img/icon_close.png) 0 0 / 30px 30px no-repeat;
  border-radius: 15px;
  cursor: pointer;
}
.delegate-container .d-check {
  position: absolute;
  left: calc(50% - 70px);
  bottom: 8px;
  width: 140px;
  height: 32px;
  color: white;
  background: #EC6337;
  border-radius: 4px;
  outline: none;
  border: 0;
}
